.svz-feed
  .svz-feed__header.svz-row
    .header__avatar.svz-col
      .svz-avatar
        img(src='assets/img/avatar.png')
    .header__info.svz-col
      .header__date.svz-p--small.svz-gray-font
        | 27 апреля 2017 г.
      .header__name.svz-p
        | Барышникова Ольга
      .header__recipient.svz-row
        .recipient__icon.svz-col
          .svz-icon.svz-icon--arrow-right
        .recipient__wrap.svz-col
          span.svz-p.svz-gray-font Алла Батракова
    .header__icons-set.svz-icons-set
      i.svz-icon.svz-favorite-icon.svz-favorite-icon--mobile
  .svz-feed__title
    .svz-h3
      | Благодарность
  .svz-feed__content
    .svz-indent
      .svz-p.svz-medium-font.svz-ellipsis-overflow
        | Текст благодарственного сообщения Текст благодарственного сообщения
    .svz-indent
      .content__thanks.svz-row
        .thanks__icon.svz-col
          .svz-feedback-type-icon
          .svz-icon.svz-icon--arrow-right
        .thanks__peoples.svz-col
          .thanks__people.svz-row
            .thanks__people-avatar.svz-col
              .svz-avatar.svz-avatar--small
            .thanks__people-info.svz-col
              .people-info__name.svz-p.svz-ellipsis-overflow Климова Ксения
              .people-info__position.svz-p--small.svz-gray-font.svz-ellipsis-overflow Директор по недвижимости
          .thanks__people.svz-row
            .thanks__people-avatar.svz-col
              .svz-avatar.svz-avatar--small
            .thanks__people-info.svz-col
              .people-info__name.svz-p.svz-ellipsis-overflow Климова Ксения
              .people-info__position.svz-p--small.svz-gray-font.svz-ellipsis-overflow Директор по недвижимости
          .thanks__people.svz-row
            .thanks__people-avatar.svz-col
              .svz-avatar.svz-avatar--small
            .thanks__people-info.svz-col
              .people-info__name.svz-p.svz-ellipsis-overflow Климова Ксения
              .people-info__position.svz-p--small.svz-gray-font.svz-ellipsis-overflow Директор по недвижимости
  .svz-feed__footer
    span.footer__like-icon.svz-p
      .svz-like-btn
    span.footer__likes-count.svz-p.svz-gray-font 25
    span.footer__show-comments-btn
      span.svz-p Комментарии
      span.footer__comments-count.svz-p.svz-gray-font 7