.svz-feed
  .svz-feed__header.svz-row
    .header__avatar.svz-col
      .svz-avatar
        img(src='assets/img/avatar.png')
    .header__info.svz-col
      .header__date.svz-p--small.svz-gray-font
        | 27 апреля 2017 г.
      .header__name.svz-p
        | Барышникова Ольга
      .header__recipient.svz-row
        .recipient__icon.svz-col
          .svz-icon.svz-icon--arrow-right
        .recipient__wrap.svz-col
          span.svz-p.svz-gray-font Алла Батракова
    .header__icons-set.svz-icons-set
      i.svz-icon.svz-favorite-icon.svz-favorite-icon--mobile
  .svz-feed__title
    .svz-h3
      | Тема опроса
  .svz-feed__content
    .svz-indent
      .svz-checkbox-group
        .svz-checkbox-group__title.svz-p.svz-medium-font
          | Ответьте, пожалуйста на первый вопрос
        .svz-checkbox
          input#checkbox(type='checkbox', name='checkbox')
          label(for='checkbox')
            span Первый вариант ответа
        .svz-checkbox
          input#checkbox2(type='checkbox', name='checkbox2')
          label(for='checkbox2')
            span Второй вариант ответа
        .svz-checkbox
          input#checkbox3(type='checkbox', name='checkbox2')
          label(for='checkbox3')
            span Третий возможный вариант ответа
    .svz-indent
      .svz-radiobutton-group
        .svz-radiobutton-group__title.svz-p.svz-medium-font
          | Второй вопрос. Можно выбрать только один вариант ответа
        .svz-radiobutton.svz-radiobutton--mobile
          input#radio(type='radio', name='radio')
          label(for='radio')
            span Первый вариант ответа
        .svz-radiobutton.svz-radiobutton--mobile
          input#radio2(type='radio', name='radio')
          label(for='radio2')
            span Второй вариант ответа
        .svz-radiobutton.svz-radiobutton--mobile
          input#radio3(type='radio', name='radio')
          label(for='radio3')
            span Третий возможный вариант ответа
    .svz-indent
      .svz-feed__vote-btn
        .svz-btn
          | Голосовать
      .svz-feed__voting-action-btns
        .voting-action-btn.svz-p
          | Результаты
        .voting-action-btn.svz-p
          | Остановить
  .svz-feed__footer
    span.footer__like-icon.svz-p
      .svz-like-btn
    span.footer__likes-count.svz-p.svz-gray-font 25
    span.footer__show-comments-btn
      span.svz-p Комментарии
      span.footer__comments-count.svz-p.svz-gray-font 7