/*
 * avatar
 */
@import "../variables.styl"
@import "../mixins.styl"

.svz-avatar
  width 60px
  height 60px
  border-radius 50%
  background-color light-gray-font-color
  position relative
  overflow hidden

  img
    position absolute
    left 50%
    top 50%
    transform translate(-50%, -50%)
    max-height 100%
    
  &--small
    width 45px
    height 45px
/*
 * end avatar
 */