// back-btn
@import "../variables.styl"

url = embedurl

.svz-back-btn
  display inline-block
  color gray-font-color
  font-size 13px
  padding 5px 15px
  background-image url('../../img/back-icon.png')
  background-size auto
  background-position left center
  background-repeat no-repeat
  cursor pointer;
// end back-btn