/*
 * drive-mobile
 */
@import "../variables.styl"
@import "../mixins.styl"

url = embedurl
 
.svz-drive-mobile
  padding 0 15px
  border-box()
   
  .svz-drive-mobile__header
    margin 28px 0
    
  .svz-drive-mobile__list
    .list__row
      border-bottom 1px solid gray-border-color
      padding 35px 0
    
    .list__row--title
      padding-top 0
      padding-bottom 15px
              
    .list__col--type
        width 65px
        padding-right default-padding 
      
    .list__col--name
        width calc(100% - 65px)
  
  .svz-drive-mobile__footer
    margin-top default-padding
    
  .svz-drive-mobile__show-more-btn
    max-width 250px
    margin 30px auto 0
    width 100%
    display block

.svz-drive-file
  cursor pointer
  
  .svz-drive-file__name
    white-space nowrap
    text-overflow ellipsis
    overflow hidden
  
  .svz-drive-file__date
    display inline-block
    color gray-font-color
    
  .svz-drive-file__separator
    display inline-block
    background-color gray-border-color
    width 1px
    height 12px
    line-height 22px
    vertical-align middle
    margin 0 10px

  .svz-drive-file__size
    display inline-block
    color gray-font-color
/*
 * end drive-mobile
 */