/*
 * fake-header
 */
@import "../variables.styl"

url = embedurl

.svz-fake-header
  height 80px
  border-bottom 1px solid gray-border-color
  background-image url('../../img/header--static.jpg')
  background-size auto
  background-position center
  background-repeat no-repeat
/*
 * end fake-header
 */