// fake-nav
url = embedurl

.svz-fake-nav
  width 224px
  min-height 1000px
  background-image url('../../img/nav--static.jpg')
  background-size auto
  background-position top left
  background-repeat no-repeat
// end fake-nav