/*
 * switch-icon
 */
@import "../variables.styl"

url = embedurl

.svz-favorite-icon
  display inline-block
  width 25px
  height 25px
  border-radius 50%
  background-image url('../../img/favorite-icon.png')
  background-size auto
  background-position center
  background-repeat no-repeat
  transition 0.1s
  cursor pointer

  &--active
    background-image url('../../img/favorite-icon--active.png')
    
  &--mobile
    width 20px
    height 20px
    background-size 16px
    
/*
 * end switch-icon
 */