/*
 * feedback-icons
 */
@import "../variables.styl"
@import "../mixins.styl"

url = embedurl

.svz-feedback-type-icon
  width 60px
  height 60px
  background-image url('../../img/thanks-type-icon.png')
  background-size auto
  background-position center
  background-repeat no-repeat

.svz-feedback-status
  font-family 'StagSans-Book', sans-serif
  font-size 15px
  line-height 24px

  .svz-icon
    margin-right 12px
    vertical-align middle
  span
    vertical-align middle

  &--done
    color main-green-color
    .svz-icon
      width 17px
      height 13px
      background-image url('../../img/status-icon__done.png')

  &--waiting,
  &--handled
    color gray-font-color
    .svz-icon
      width 16px
      height 16px
      background-image url('../../img/status-icon__waiting.png')

  &--inprogress,
  &--new
    color main-blue-color
    .svz-icon
      width 11px
      height 15px
      background-image url('../../img/status-icon__inprogress.png')

  &--rejected,
  &--returned
    color main-orange-color
    .svz-icon
      width 13px
      height 13px
      background-image url('../../img/status-icon__reject.png')

  &--idea
    color gray-font-color
    .svz-icon
      width 11px
      height 16px
      background-image url('../../img/status-icon__idea.png')

/*
 * end feedback-icons
 */