/*
 * feedback__thanks-list
 */
@import "../variables.styl"
@import "../mixins.styl"

url = embedurl

.svz-feedback__thanks-list
  .svz-list__header
    .header__title
      width 47%
    .header__search
      width 37%
  
  .svz-thanks-list__id-col
    width 15%
  .svz-thanks-list__theme-col
    width 28%
  .svz-thanks-list__type-col
    width 22%
  .svz-thanks-list__author-col
    width 35%

  .svz-list__list-head
    .svz-icon
      margin 0 5px
  
  .svz-list__list
      .type-icon
        width 45px
        height 45px
        background-image url('../../img/thanks-type-icon.png')
        background-size auto
        background-position center
        background-repeat no-repeat
        margin-left 45px

    .svz-thanks-list__id-col
      color gray-font-color
      
  .svz-thanks-list__from-to
    .from-to__avatar
      width 85px
      padding-right 25px
      
    .from-to__names
      width calc(100% - 85px)

    .from-to__author
      margin-bottom 6px
      
    .from-to__recipient
      color gray-font-color
      margin-bottom 6px
      
    .svz-avatar
      top -10px
      
    .svz-icon
      margin-right 5px
/*
 * feedback__thanks-list
 */