/*
 * files
 */
@import "../variables.styl"
@import "../mixins.styl"

.svz-file-icon
  display inline-block
  width 40px
  height 40px
  background-image url('../../img/drive/drive-icon--default.png')
  background-size auto
  background-position left center
  background-repeat no-repeat
  
  &--small
    width 20px
    height 20px
    background-image url('../../img/drive/drive-icon--default--small.png')

  &--default
    background-image url('../../img/drive/drive-icon--default.png')
    background-position left 5px center
  &--default.svz-file-icon--small
    background-image url('../../img/drive/drive-icon--default--small.png')

  &--folder
    background-image url('../../img/drive/drive-folder-icon.png')
  &--folder.svz-file-icon--small
    background-image url('../../img/drive/drive-folder-icon--small.png')

  &--folder.svz-file-icon--linked
    background-image url('../../img/drive/drive-folder-icon--linked.png')
  &--folder.svz-file-icon--linked.svz-file-icon--small
    background-image url('../../img/drive/drive-folder-icon--linked--small.png')

  &--folder.svz-file-icon--shared
    background-image url('../../img/drive/drive-folder-icon--shared.png')
  &--folder.svz-file-icon--shared.svz-file-icon--small
    background-image url('../../img/drive/drive-folder-icon--shared--small.png')

  &--folder.svz-file-icon--linked.svz-file-icon--shared
    background-image url('../../img/drive/drive-folder-icon--linked--shared.png')
  &--folder.svz-file-icon--linked.svz-file-icon--shared.svz-file-icon--small
    background-image url('../../img/drive/drive-folder-icon--linked--shared--small.png')

  &--doc
    background-image url('../../img/drive/drive-icon--doc.png')
  &--doc.svz-file-icon--small
    background-image url('../../img/drive/drive-icon--doc--small.png')

  &--docx
    background-image url('../../img/drive/drive-icon--docx.png')
  &--docx.svz-file-icon--small
    background-image url('../../img/drive/drive-icon--docx--small.png')

  &--image
    background-image url('../../img/drive/drive-icon--image.png')
    background-position left 5px center
  &--image.svz-file-icon--small
    background-image url('../../img/drive/drive-icon--image--small.png')

  &--jpeg
    background-image url('../../img/drive/drive-icon--jpeg.png')
  &--jpeg.svz-file-icon--small
    background-image url('../../img/drive/drive-icon--jpeg--small.png')

  &--pdf
    background-image url('../../img/drive/drive-icon--pdf.png')
  &--pdf.svz-file-icon--small
    background-image url('../../img/drive/drive-icon--pdf--small.png')

  &--php
    background-image url('../../img/drive/drive-icon--php.png')
  &--php.svz-file-icon--small
    background-image url('../../img/drive/drive-icon--php--small.png')

  &--png
    background-image url('../../img/drive/drive-icon--png.png')
  &--png.svz-file-icon--small
    background-image url('../../img/drive/drive-icon--png--small.png')

  &--ppt
    background-image url('../../img/drive/drive-icon--ppt.png')
  &--ppt.svz-file-icon--small
    background-image url('../../img/drive/drive-icon--ppt--small.png')

  &--rar
    background-image url('../../img/drive/drive-icon--rar.png')
  &--rar.svz-file-icon--small
    background-image url('../../img/drive/drive-icon--rar--small.png')

  &--system
    background-image url('../../img/drive/drive-icon--system.png')
    background-position left 5px center
  &--system.svz-file-icon--small
    background-image url('../../img/drive/drive-icon--system--small.png')

  &--txt
    background-image url('../../img/drive/drive-icon--txt.png')
  &--txt.svz-file-icon--small
    background-image url('../../img/drive/drive-icon--txt--small.png')

  &--video
    background-image url('../../img/drive/drive-icon--video.png')
    background-position left 5px center
  &--video.svz-file-icon--small
    background-image url('../../img/drive/drive-icon--video--small.png')

  &--xls
    background-image url('../../img/drive/drive-icon--xls.png')
  &--xls.svz-file-icon--small
    background-image url('../../img/drive/drive-icon--xls--small.png')

  &--zip
    background-image url('../../img/drive/drive-icon--zip.png')
  &--zip.svz-file-icon--small
    background-image url('../../img/drive/drive-icon--zip--small.png')
/*
 * end files
 */