// personal-info
@import "../variables.styl"

.svz-personal-info
  margin-top 25px
  
  .svz-personal-info__side
    width 220px
    padding-right default-padding
    
  .svz-personal-info__avatar
    width 200px
    height 200px
    border-radius 50%
    overflow hidden
    margin-bottom default-padding
    
  .svz-personal-info__message-btn
    display block
    
  .svz-personal-info__main
    width calc(100% - 220px)
    padding-left default-padding
    color dark-font-colort
    
  .svz-personal-info__name
    font-family 'StagSans-Light'
    font-size 36px
    margin-bottom default-padding
    
  .svz-personal-info__title
    font-size 17px
    margin-bottom default-padding
    
  .svz-personal-info__info-group
    font-size 15px
    line-height 18px
    margin-bottom default-padding
    
  .svz-personal-info__info-label
    width: 35%
    padding-right default-padding
    
  .svz-personal-info__info-value
    width 65%
    color gray-font-color
    padding-right default-padding
// end personal-info