/*
 * search-list
 */
@import "../variables.styl"
@import "../mixins.styl"

.svz-search-list
  border-box()
  margin-top: 40px

.svz-search-list__header
  margin-bottom: 25px

.svz-search-list__search
    display block
    border 1px solid #bfbfbf
    border-radius default-border-radius
    //background-image url('../../img/search-icon.png')
    //background-size 15px
    //background-position right 20px center
    //background-repeat no-repeat
    height 40px
    line-height 40px
    overflow hidden
    padding 0 45px 0 30px