/*
 * Кнопки
 */
@import "variables.styl"
@import "mixins.styl"

.svz-btn
  display inline-block
  height 40px
  background-color main-purple-color
  border-radius default-border-radius
  color white
  font-family 'StagSans-Book', sans-serif
  font-size 14px
  line-height 40px
  text-align center
  text-transform uppercase
  padding 0 5px
  cursor pointer
  transition color 0.1s
  
  &:hover
    background-color hover-purple-color
    
  &--link
    background none
    border none
    color dark-font-color
    font-size 15px
    text-transform none
    
    &:hover
      background none
/*
 * end Кнопки
 */ 