/*
 * Кнопки
 */
@import "variables.styl"
@import "mixins.styl"

.svz-btn
  display inline-block
  height 40px
  background-color main-purple-color
  border-radius 20px
  color white
  font-size 14px
  line-height 40px
  text-align center
  text-transform uppercase
  padding 0 5px
  cursor pointer
/*
 * end Кнопки
 */