/*
 * Поля ввода, чекбоксы, радио и тд
 */
@import "variables.styl"
@import "mixins.styl"

.svz-field
  label
    display block
    border 1px solid #bfbfbf
    border-radius default-border-radius
    height 40px
    line-height 40px
    overflow hidden
    padding 0 30px

  input
    display block
    border none
    background transparent
    outline none
    width: 100%
    height 38px
    line-height 39px
    font-family 'StagSans-Book', sans-serif
    font-size 15px
    color dark-font-color

    placeholder-color(gray-font-color)
    
  &--has-error
    input
      color main-purple-color
      
  .svz-field__error
    margin-top 3px
    padding-left 30px
    
  &.svz-field--datepicker
    label
      background-image url('../img/datepicker-icon.png')
      background-size 16px 18px
      background-position right 20px center
      background-repeat no-repeat
      padding 0 45px 0 30px

.svz-radiobutton
  input[type='radio']
    display none
    
  label
    display inline-block
    padding-left 32px
    position relative
    cursor pointer
    
    span
      font-family 'StagSans-Book', sans-serif
      font-size 15px
      line-height 24px
      color dark-font-color
    
    &:before
      content ''
      display block
      width 20px
      height 20px
      border 1px solid #d8d8d8
      border-radius 50%
      background-color transparent
      position absolute
      left 0
      top 2px
      
  input[type='radio']:checked + label
    &:after
      content ''
      display block
      width 10px
      height 10px
      border-radius 50%
      background-color main-purple-color
      position absolute
      left 5px
      top 7px

  &--mobile
    label
      padding-left 24px

      &:before
        width 14px
        height 14px
        top 5px

    input[type='radio']:checked + label
      &:after
        width 6px
        height 6px
        left 4px
        top 9px
      
.svz-radiobutton-group
  .svz-radiobutton-group__title
    margin-bottom 4px
  .svz-radiobutton:not(:last-child)
    margin-bottom 4px

.svz-checkbox
  input[type='checkbox']
    display none
    
  label
    display inline-block
    padding-left 24px
    position relative
    cursor pointer
    
    span
      font-family 'StagSans-Book', sans-serif
      font-size 15px
      line-height 24px
      color dark-font-color
    
    &:before
      content ''
      display block
      width 14px
      height 14px
      border 1px solid #d7d7d7
      border-radius 1px
      background-color transparent
      position absolute
      left 0
      top 5px
      
  input[type='checkbox']:checked + label
    &:after
      content ''
      display block
      width 14px
      height 14px
      background-image url('../img/checkbox-icon.png')
      background-size auto
      background-position center
      background-repeat no-repeat
      position absolute
      left 0
      top 5px

.svz-checkbox-group
  .svz-checkbox-group__title
    margin-bottom 4px
  .svz-checkbox:not(:last-child)
    margin-bottom 4px

.svz-progressbar
  height 12px
  background-color #f7f7f7
  position relative

  .svz-progress
    height 12px
    background-color #eee6f8
    position absolute
    left 0
    top 0
    width 0
    transition width 0.3s
    
.svz-progressbar-row
  .svz-progressbar
    width calc(100% - 80px)
  .progressbar-row__number
    width 45px
    text-align center
    font-size 13px
    line-height 13px
    color dark-font-color
  .progressbar-row__percent
    width 35px
    text-align right
    font-size 13px
    line-height 13px
    color gray-font-color

/*
 * end Поля ввода, чекбоксы, радио и тд
 */