/*
 * Вспомогательные классы
 */
@import "variables.styl"
@import "mixins.styl"

url = embedurl

.svz-responsive-img
  display block
  max-width 100%
  height auto

.svz-photo-preview
  display inline-block
  border 1px solid gray-border-color
  width 70px
  height 70px
  position relative
  overflow hidden
  cursor pointer

  img
    position absolute
    left 50%
    top 50%
    transform translate(-50%, -50%)
    max-height 100%

.svz-photo-preview-group
  .svz-photo-preview
    margin-right 10px
    margin-bottom 10px

.svz-video-preview
  display inline-block
  position relative
  cursor pointer

  &:after
    content ''
    display block
    position absolute
    left 0
    right 0
    top 0
    bottom 0
    background-image url('../img/play-icon.png')
    background-size auto
    background-position center
    background-repeat no-repeat
    
.svz-pull-left
  float left

.svz-pull-right
  float right
  
.svz-ellipsis-overflow
  ellipsis-overflow()
/*
 * end Вспомогательные классы
 */