// Вспомогательные классы
@import "variables.styl"

.svz-responsive-img
  display block
  max-width 100%
  height auto

.svz-link
  color: static-link-color
  text-decoration none
  cursor pointer

  &:hover,
  &:active
    color: hover-link-color
// end Вспомогательные классы