/*
 * Иконки
 */
@import "variables.styl"
@import "mixins.styl"

url = embedurl

.svz-icon
  display inline-block
  vertical-align middle
  background-size auto
  background-position center
  background-repeat no-repeat
  
  &--arrow-right
    background-image url('../img/icon--arrow-right.png')
    width 14px
    height 9px
/*
 * end Иконки
 */