/*
 * Иконки
 */
@import "variables.styl"
@import "mixins.styl"

url = embedurl

.svz-icon
  display inline-block
  vertical-align middle
  background-size auto
  background-position center
  background-repeat no-repeat
  
  &--arrow-right
    background-image url('../img/icon--arrow-right.png')
    width 14px
    height 9px

  &--cross
    background-image url('../img/icon--cross.png')
    width 9px
    height 9px
    
  &--plus
    background-image url('../img/icon--plus.png')
    width 8px
    height 8px

  &--warning
    background-image url('../img/icon--warning.png')
    width 20px
    height 18px
    
  &--warning-empty
    background-image url('../img/icon--warning-empty.png')
    width 20px
    height 18px
    
  + .svz-icon__label
    display inline-block
    margin-left 5px
    vertical-align middle
    
.svz-icons-set
  .svz-icon + .svz-icon
    margin-left 3px
/*
 * end Иконки
 */