/*
 * Общие стили
 */
@import "variables.styl"
  
html
  font-family 'StagSans-Book', sans-serif
  
body 
  margin 0
  
#editor
  border 1px solid red
  position relative
  
  &:after
    content ''
    display block
    background rgba(0, 0, 0, 0.2)
    position absolute
    left 0
    right 0
    top 0
    bottom 0
  
  img
    width 100%
    height auto
/*
 * end Общие стили
 */

@import "font-face.styl"
@import "text.styl"
@import "helpers.styl"
@import "icons.styl"
@import "layout.styl"
@import "buttons.styl"
@import "fields.styl"
@import "tooltip.styl"
@import "components/avatar.styl"
@import "components/tabs.styl"
@import "components/editor-area.styl"
@import "components/btn-with-icons.styl"
@import "components/switch-icon.styl"
@import "components/favorite-icon.styl"
@import "components/pagination.styl"
@import "components/search-field.styl"
@import "components/feedback-icons.styl"
@import "components/sitemap.styl"