/*
 * Общие стили
 */
@import "variables.styl"

*,
*:after,
*:before
  box-sizing border-box
  
html
  font-family 'StagSans-Book', sans-serif
  
body 
  margin 0
/*
 * end Общие стили
 */

@import "font-face.styl"
@import "text.styl"
@import "helpers.styl"
@import "layout.styl"
@import "buttons.styl"