/*
 * Разметка страницы
 */
@import "variables.styl"
@import "mixins.styl"

.svz-container--fixed
  margin 0 auto
  min-width container-min-width
  max-width container-max-width
  padding container-padding
  
.svz-row
  clearfix()
    
.svz-col
  float left
/*
 * end Разметка страницы
 */