/*
 * Разметка страницы
 */
@import "variables.styl"
@import "mixins.styl"

.svz-container--fixed
  margin 0 auto
  min-width container-min-width
  max-width container-max-width
  padding container-padding

.svz-container--mobile
  margin 0 auto
  min-width 320px
  max-width 360px
  
.svz-row
  clearfix()
    
.svz-col
  float left
/*
 * end Разметка страницы
 */