clearfix()
  &:before,
  &:after
    content ' '
    display table
  
  &:after
    clear both
    
border-box()
  &,
  &:after,
  &:before,
  & > *,
  & > *:after,
  & > *:before
    box-sizing border-box