clearfix()
  &:before,
  &:after
    content ' '
    display table
  
  &:after
    clear both
    
border-box()
  &,
  &:after,
  &:before,
  & *,
  & *:after,
  & *:before
    box-sizing border-box
    
placeholder-color(c)
  &::-webkit-input-placeholder
    color c
  &::-moz-placeholder
    color c
  &:-ms-input-placeholder
    color c
  &:-moz-placeholder
    color c

ellipsis-overflow()
  white-space nowrap
  overflow hidden
  text-overflow ellipsis

inline-block()
  display -moz-inline-stack
  display inline-block
  vertical-align top
  zoom 1
  *display inline