// Цвета
main-purple-color = #8257ba
hover-purple-color = #8769ae
main-blue-color = #38a7de
main-orange-color = #f89b25
main-green-color = #5fbc4e
main-yellow-color = #ffde0e

dark-font-color = #4c4c4c
gray-font-color = #999999
light-gray-font-color = #cccccc
light-gray-color = #f7f7f7

gray-border-color = #e6e6e6

static-link-color = main-blue-color
hover-link-color = #2799d1

online-color = #5fbc4e
offline-color = #f87424

// Отступы и границы
default-padding = 20px
default-border-radius = 20px

// Разметка
container-min-width = 1060px
container-max-width = 1264px
container-padding = 0 default-padding