main-purple-color = #8257ba
dark-font-color = #4d4d4d
gray-font-color = #999999
static-link-color = #38a7de
hover-link-color = #2799d1

default-padding = 20px

container-min-width = 1060px
container-max-width = 1264px
container-padding = 0 default-padding