main-purple-color = #8257ba
main-blue-color = #38a7de
main-orange-color = #f89b25
main-green-color = #5fbc4e
main-yellow-color = #ffde0e
dark-font-color = #4c4c4c
gray-font-color = #999999
static-link-color = #38a7de
hover-link-color = #2799d1
online-color = #5fbc4e
offline-color = #f87424

default-padding = 20px

container-min-width = 1060px
container-max-width = 1264px
container-padding = 0 default-padding