// drive-mobile__pagination
link(rel='stylesheet', href='assets/css/components/pagination.css')

.svz-pagination.svz-pagination--mobile
  .svz-pagination__control.control--prev
  .svz-pagination__page 1
  .svz-pagination__page.page--current 2
  .svz-pagination__page 3
  .svz-pagination__page ...
  .svz-pagination__page 14
  .svz-pagination__control.control--next
// end drive-mobile__pagination