// drive-mobile
link(rel='stylesheet', href='assets/css/components/drive-mobile.css')

.svz-drive-mobile
  .svz-drive-mobile__header
    .svz-search-field
      label
        input(type='text', placeholder='Поиск документов')
        
  .svz-drive-mobile__list
    .list__row.list__row--title.svz-row
      .list__col.list__col--type.svz-col
        span.svz-p Тип
      .list__col.list__col--name.svz-col
        span.svz-p Название
        
  .svz-drive-mobile__list
    .list__row.svz-row.svz-drive-file
      .list__col.list__col--type.svz-col
        .svz-file-icon.svz-file-icon--folder
      .list__col.list__col--name.svz-col
        .svz-drive-file__name.svz-p(title='Приказ №334-упв от 14.06.2016. Приказ №334-упв от 14.06.2016.')
          | Приказ №334-упв от 14.06.2016. Приказ №334-упв от 14.06.2016.
        .svz-drive-file__date.svz-p--small
          | 31 мая 2017 г.
        .svz-drive-file__separator
        .svz-drive-file__size.svz-p--small
          | 1 057 Кб
          
    .list__row.svz-row.svz-drive-file
      .list__col.list__col--type.svz-col
        .svz-file-icon.svz-file-icon--folder.svz-file-icon--linked
          
    .list__row.svz-row.svz-drive-file
      .list__col.list__col--type.svz-col
        .svz-file-icon.svz-file-icon--folder.svz-file-icon--shared
          
    .list__row.svz-row.svz-drive-file.svz-drive-file--folder.svz-drive-file--linked.svz-drive-file--shared
      .list__col.list__col--type.svz-col
        .svz-file-icon.svz-file-icon--folder.svz-file-icon--linked.svz-file-icon--shared
          
    .list__row.svz-row.svz-drive-file
      .list__col.list__col--type.svz-col
        .svz-file-icon.svz-file-icon--doc
          
    .list__row.svz-row.svz-drive-file
      .list__col.list__col--type.svz-col
        .svz-file-icon.svz-file-icon--docx
          
    .list__row.svz-row.svz-drive-file
      .list__col.list__col--type.svz-col
        .svz-file-icon.svz-file-icon--image
          
    .list__row.svz-row.svz-drive-file
      .list__col.list__col--type.svz-col
        .svz-file-icon.svz-file-icon--jpeg
          
    .list__row.svz-row.svz-drive-file
      .list__col.list__col--type.svz-col
        .svz-file-icon.svz-file-icon--pdf
          
    .list__row.svz-row.svz-drive-file
      .list__col.list__col--type.svz-col
        .svz-file-icon.svz-file-icon--php
          
    .list__row.svz-row.svz-drive-file
      .list__col.list__col--type.svz-col
        .svz-file-icon.svz-file-icon--png

    .list__row.svz-row.svz-drive-file
      .list__col.list__col--type.svz-col
        .svz-file-icon.svz-file-icon--ppt
          
    .list__row.svz-row.svz-drive-file
      .list__col.list__col--type.svz-col
        .svz-file-icon.svz-file-icon--rar
          
    .list__row.svz-row.svz-drive-file
      .list__col.list__col--type.svz-col
        .svz-file-icon.svz-file-icon--system
          
    .list__row.svz-row.svz-drive-file
      .list__col.list__col--type.svz-col
        .svz-file-icon.svz-file-icon--txt
          
    .list__row.svz-row.svz-drive-file
      .list__col.list__col--type.svz-col
        .svz-file-icon.svz-file-icon--video
          
    .list__row.svz-row.svz-drive-file
      .list__col.list__col--type.svz-col
        .svz-file-icon.svz-file-icon--xls
          
    .list__row.svz-row.svz-drive-file
      .list__col.list__col--type.svz-col
        .svz-file-icon.svz-file-icon--zip
    
  .svz-drive-mobile__footer.svz-row
    
    include drive-mobile__pagination
    
    .svz-drive-mobile__show-more-btn.svz-btn
      | показать еще 10 
// end drive-mobile