// feedback-tabs
link(rel='stylesheet', href='assets/css/components/tabs.css')
  
.svz-personal-tabs.svz-row
  .svz-personal-tab.svz-col
    | Идеи
  .svz-personal-tab.svz-col
    | Благодарности
  .svz-personal-tab.svz-col.svz-personal-tab--active
    | Жалобы
  .svz-personal-tab.svz-col
    | Жалобы в последние инстанции
// end feedback-tabs