link(rel='stylesheet', href='assets/css/components/feedback.css')

// create-thank
.svz-feedback__create.svz-feedback__create-thank
  .svz-h2
    | Добавить благодарность
    
  .create__error-message
    .svz-icon.svz-icon--warning
    span.svz-p--small Ошибка! Для отправки заполните все необходимые поля

  .svz-feedback__editor-area.svz-editor-area
    .svz-editor-area__theme
      .svz-icon.svz-icon--cross.theme__clear-btn
      label.svz-editor-area__theme-inner
        input(type='text', placeholder='Тема')

    // REMOVE #editor block!
    #editor
      img(src='assets/img/EDITOR.jpg')

    .svz-editor-area__extra
      .svz-row
        .extra-col.extra-col--icons-set.svz-col
          .svz-feedback-type-icon
          .svz-icon.svz-icon--arrow-right
        .extra-col.extra-col--add-employes.svz-col
          .add-employes-btn.add-employes-btn--has-error
            .svz-icon.svz-icon--plus
            .svz-p Добавить сотрудников
    .svz-editor-area__footer
      .svz-btn Отправить
      .svz-btn.svz-btn--link Отменить
  
.svz-feedback__create.svz-feedback__create-thank
  .svz-h2
    | Добавить благодарность

  .svz-feedback__editor-area.svz-editor-area
    .svz-editor-area__theme
      .svz-icon.svz-icon--cross.theme__clear-btn
      label.svz-editor-area__theme-inner
        input(type='text', placeholder='Тема')

    // REMOVE #editor block!
    #editor
      img(src='assets/img/EDITOR.jpg')

    .svz-editor-area__extra
      .svz-row
        .extra-col.extra-col--icons-set.svz-col
          .svz-feedback-type-icon
          .svz-icon.svz-icon--arrow-right
        .extra-col.extra-col--add-employes.svz-col
          .add-employes-btn
            .svz-icon.svz-icon--plus
            .svz-p Добавить сотрудников
    .svz-editor-area__footer
      .svz-btn Отправить
      .svz-btn.svz-btn--link Отменить
// end create-thank
        
// create-petition
.svz-feedback__create.svz-feedback__create-petition
  .svz-h2
    | Добавить жалобу
  
  .svz-feedback__editor-area.svz-editor-area
    .svz-editor-area__theme
      .svz-icon.svz-icon--cross.theme__clear-btn
      label.svz-editor-area__theme-inner
        input(type='text', placeholder='Тема')
    
    // REMOVE #editor block!
    #editor
      img(src='assets/img/EDITOR.jpg')
      
    .svz-editor-area__extra
      .svz-row
        .extra-col.extra-col--title.svz-col
          .svz-p Выберите тип жалобы:
        .extra-col.svz-col.svz-radiobutton-group
          .svz-radiobutton
            input#petitionType1(type='radio', name='petitionType')
            label(for='petitionType1')
              span Неработающее оборудование
          .svz-radiobutton
            input#petitionType2(type='radio', name='petitionType')
            label(for='petitionType2')
              span Организация рабочего места
          .svz-radiobutton
            input#petitionType3(type='radio', name='petitionType')
            label(for='petitionType3')
              span Хранение и обмен информацией
        .extra-col.svz-col.svz-radiobutton-group
          .svz-radiobutton
            input#petitionType4(type='radio', name='petitionType')
            label(for='petitionType4')
              span Проблемы с доступом к интернету
          .svz-radiobutton
            input#petitionType5(type='radio', name='petitionType')
            label(for='petitionType5')
              span Внутренние коммуникации
    .svz-editor-area__footer
      .svz-btn Отправить
      .svz-btn.svz-btn--link Отменить
// end create-petition