// feedback__thanks-list
link(rel='stylesheet', href='assets/css/components/feedback.css')

.svz-feedback__list.svz-feedback__thanks-list
  .svz-list__header.svz-row
    .header__title.svz-col
      .svz-h2
        | Благодарности
      .svz-favorite-icon
      .svz-switch-icon.svz-tooltip(data-tooltip-content="#svz-thanks-filters")
    .header__search.svz-col
      .svz-search-field
        label
          input(type='text', placeholder='Поиск по теме, ID, имени')
    .header__add-btn.svz-col
      .svz-btn
        | Добавить

  .svz-list__header.svz-row
    .header__title.svz-col
      .svz-h2
        | Благодарности
      .svz-switch-icon.svz-switch-icon--active
    .header__search.svz-col
      .svz-search-field
        label
          input(type='text', placeholder='Поиск по теме, ID, имени')
    .header__add-btn.svz-col
      .svz-btn
        | Добавить

  .svz-list__list-head.svz-row
    .svz-thanks-list__id-col.list__title.svz-col
      span ID
    .svz-thanks-list__theme-col.list__title.svz-col
      span Тема
    .svz-thanks-list__type-col.list__title.svz-col
      span Тип
    .svz-thanks-list__author-col.list__title.svz-col
      span От кого <span class="svz-icon svz-icon--arrow-right"></span> Кому

  .svz-list__list.svz-row
    .svz-thanks-list__id-col.svz-col
      | 29780000_458
    .svz-thanks-list__theme-col.svz-col
      | Приказ №334-упв от 14.06.2016. Положения о порядке выдачи, учета, хранения и отзыва доверенностей в АО «Связной Логистика»
    .svz-thanks-list__type-col.svz-col
      .type-icon.svz-feedback-type-icon
    .svz-thanks-list__author-col.svz-col
      .svz-thanks-list__from-to.svz-row
        .from-to__avatar.svz-col
          .svz-avatar
            img(src='assets/img/avatar.png')
        .from-to__names.svz-col
          .from-to__author.svz-col
            | Барышникова Ольга
          .from-to__recipient.svz-col
            .svz-icon.svz-icon--arrow-right
            span Павличук Роман Викторович
          .from-to__recipient.svz-col
            .svz-icon.svz-icon--arrow-right
            span Мироненко Сергей

  .svz-list__footer.svz-row
    .svz-pull-left
      .svz-list__show-more-btn.svz-btn
        | показать еще 10 
    .svz-pull-right
      include pagination

.svz-tooltip_templates
  #svz-thanks-filters
    | 1234567890
// end feedback__thanks-list