// feedback__petition
link(rel='stylesheet', href='assets/css/components/feedback.css')
  
.svz-feedback.svz-feedback__petition
  .svz-feedback__header.svz-row
    .header__title.svz-col
      .svz-h2
        | Жалобы
    .header__switch.svz-col
      .svz-switch-icon
    .header__empty.svz-col
    .header__search.svz-col
      include search-field
    .header__add-btn.svz-col
  
  .svz-feedback__list.svz-row
    .svz-feedback__id-col.list__title.svz-col
    .svz-feedback__name-col.list__title.svz-col
    .svz-feedback__status-col.list__title.svz-col
    .svz-feedback__executor-col.list__title.svz-col
    .svz-feedback__created-col.list__title.svz-col
      
  .svz-feedback__list.svz-row
    .svz-feedback__id-col.svz-col
    .svz-feedback__name-col.svz-col
    .svz-feedback__status-col.svz-col
    .svz-feedback__executor-col.svz-col
    .svz-feedback__created-col.svz-col
// end feedback__petition