// feedback__petition
link(rel='stylesheet', href='assets/css/components/feedback.css')
  
.svz-feedback.svz-feedback__petition
  .svz-feedback__header.svz-row
    .header__title.svz-col
      .svz-h2
        | Жалобы
      .svz-switch-icon.svz-tooltip(data-tooltip-content="#svz-petition-filters")
    .header__search.svz-col
      include search-field
    .header__add-btn.svz-col
      .svz-btn
        | Добавить
        
  .svz-feedback__header.svz-row
    .header__title.svz-col
      .svz-h2
        | Жалобы
      .svz-switch-icon.svz-switch-icon--active
    .header__search.svz-col
      include search-field
    .header__add-btn.svz-col
      .svz-btn
        | Добавить
  
  .svz-feedback__list-head.svz-row
    .svz-feedback__id-col.list__title.svz-col
      span ID
    .svz-feedback__name-col.list__title.svz-col
      span Название
    .svz-feedback__status-col.list__title.svz-col
      span Статус
    .svz-feedback__type-col.list__title.svz-col
      span Тип
    .svz-feedback__created-col.list__title.svz-col
      span.title__sortable
        | Создание
      
  .svz-feedback__list-head.svz-row
    .svz-feedback__id-col.list__title.svz-col
      span ID
    .svz-feedback__name-col.list__title.svz-col
      span Название
    .svz-feedback__status-col.list__title.svz-col
      span Статус
    .svz-feedback__type-col.list__title.svz-col
      span Тип
    .svz-feedback__created-col.list__title.svz-col
      span.title__sortable.title__sortable--active
        | Создание
      
  .svz-feedback__list.svz-row
    .svz-feedback__id-col.svz-col
      | 29780000_458
    .svz-feedback__name-col.svz-col
      | Приказ №334-упв от 14.06.2016. Положения о порядке выдачи, учета, хранения и отзыва tдоверенностей в АО «Связной Логистика»
    .svz-feedback__status-col.svz-col.status-col--done
      .svz-row
        .status-col__icon.svz-col
        .status-col__text.svz-col Выполнено
    .svz-feedback__type-col.svz-col
      | Неработающее оборудование
    .svz-feedback__created-col.svz-col
      | 28 апреля 2017 г.
      
  .svz-feedback__list.svz-row
    .svz-feedback__id-col.svz-col
      | 29780000_458
    .svz-feedback__name-col.svz-col
      | Приказ №334-упв от 14.06.2016. Положения о порядке выдачи, учета, хранения и отзыва tдоверенностей в АО «Связной Логистика»
    .svz-feedback__status-col.svz-col.status-col--waiting
      .svz-row
        .status-col__icon.svz-col
        .status-col__text.svz-col Обрабатывается администратором
    .svz-feedback__type-col.svz-col
      | Организация рабочего места
    .svz-feedback__created-col.svz-col
      | 28 апреля 2017 г.
      
  .svz-feedback__list.svz-row
    .svz-feedback__id-col.svz-col
      | 29780000_458
    .svz-feedback__name-col.svz-col
      | Приказ №334-упв от 14.06.2016. Положения о порядке выдачи, учета, хранения и отзыва tдоверенностей в АО «Связной Логистика»
    .svz-feedback__status-col.svz-col.status-col--inprogress
      .svz-row
        .status-col__icon.svz-col
        .status-col__text.svz-col В работе
    .svz-feedback__type-col.svz-col
      | Хранение и обмен информацией
    .svz-feedback__created-col.svz-col
      | 28 апреля 2017 г.
      
  .svz-feedback__list.svz-row
    .svz-feedback__id-col.svz-col
      | 29780000_458
    .svz-feedback__name-col.svz-col
      | Приказ №334-упв от 14.06.2016. Положения о порядке выдачи, учета, хранения и отзыва tдоверенностей в АО «Связной Логистика»
    .svz-feedback__status-col.svz-col.status-col--rejected
      .svz-row
        .status-col__icon.svz-col
        .status-col__text.svz-col Отклонена
    .svz-feedback__type-col.svz-col
      | Внутренние коммуникации
    .svz-feedback__created-col.svz-col
      | 28 апреля 2017 г.
      
  .svz-feedback__footer.svz-row
    .svz-pull-left 
      .svz-feedback__show-more-btn.svz-btn
        | показать еще 10 
    .svz-pull-right
      include pagination
      
.svz-tooltip_templates
  #svz-petition-filters
    | 1234567890
// end feedback__petition