// feedback__petition
link(rel='stylesheet', href='assets/css/components/feedback.css')
  
.svz-feedback.svz-feedback__petition
  .svz-feedback__header.svz-row
    .header__title.svz-col
      .svz-h2
        | Жалобы
      .svz-switch-icon
    .header__search.svz-col
      include search-field
    .header__add-btn.svz-col
      .svz-btn
        | Добавить
  
  .svz-feedback__list-head.svz-row
    .svz-feedback__id-col.list__title.svz-col
      span ID
    .svz-feedback__name-col.list__title.svz-col
      span Название
    .svz-feedback__status-col.list__title.svz-col
      span Статус
    .svz-feedback__executor-col.list__title.svz-col
      span Исполнитель
    .svz-feedback__created-col.list__title.svz-col
      span.title__sortable
        | Создание
      
  .svz-feedback__list.svz-row
    .svz-feedback__id-col.svz-col
      | 29780000_458
    .svz-feedback__name-col.svz-col
      | Приказ №334-упв от 14.06.2016. Положения о порядке выдачи, учета, хранения и отзыва tдоверенностей в АО «Связной Логистика»
    .svz-feedback__status-col.svz-col
      | 3
    .svz-feedback__executor-col.svz-col
      | Барышникова Ольга
    .svz-feedback__created-col.svz-col
      | 28 апреля 2017 г.
// end feedback__petition