// feedback__index-page
link(rel='stylesheet', href='assets/css/components/feedback__index-page.css')

.svz-feedback__index-page
  .svz-index-page__title
    .svz-h2 Обратная связь
  .svz-index-page__row.svz-row
    .svz-index-page__col.svz-col
      .svz-index-page__section.svz-index-page__section--chief
        .section__img
          img.svz-responsive-img(src='assets/img/index-1.jpg')
        .section__footer.svz-h3 Написать Евгению
    .svz-index-page__col.svz-col
      .svz-index-page__section.svz-index-page__section--thanks
        .section__img
          img.svz-responsive-img(src='assets/img/index-2.jpg')
        .section__footer.svz-h3 Благодарности
    .svz-index-page__col.svz-index-page__col--small.svz-col
      .svz-index-page__section.svz-index-page__section--ideas
        .section__img
          img.svz-responsive-img(src='assets/img/index-3.jpg')
        .section__footer.svz-h3 Идеи
    .svz-index-page__col.svz-index-page__col--small.svz-col
      .svz-index-page__section.svz-index-page__section--petitions
        .section__img
          img.svz-responsive-img(src='assets/img/index-4.jpg')
        .section__footer.svz-h3 Жалобы
    .svz-index-page__col.svz-index-page__col--small.svz-col
      .svz-index-page__section.svz-index-page__section--pi
        .section__img
          img.svz-responsive-img(src='assets/img/index-5.jpg')
        .section__footer.svz-h3 Отдел ПИ

// end feedback__index-p age