// live-feeds-mobile
link(rel='stylesheet', href='assets/css/components/live-feeds-mobile.css')

.svz-live-feeds-mobile
  .svz-checkbox
    input#checkbox(type='checkbox', name='checkbox')
    label(for='checkbox')
      span Первый вариант ответа
  .svz-checkbox
    input#checkbox2(type='checkbox', name='checkbox2')
    label(for='checkbox2')
      span Второй вариант ответа

  .svz-radiobutton.svz-radiobutton--mobile
    input#radio(type='radio', name='radio')
    label(for='radio')
      span Первый вариант ответа
  .svz-radiobutton.svz-radiobutton--mobile
    input#radio2(type='radio', name='radio')
    label(for='radio2')
      span Второй вариант ответа

  .svz-indent
    .svz-progressbar
      .svz-progress
  .svz-indent
    .svz-progressbar
      .svz-progress(style="width: 35%")
  .svz-indent
    .svz-progressbar
      .svz-progress(style="width: 75%")
// end live-feeds-mobile