// pagination
link(rel='stylesheet', href='assets/css/components/pagintaion.css')

.svz-pagination
  .svz-pagination__page 1
  .svz-pagination__control.control--prev
  .svz-pagination__page 6
  .svz-pagination__page.page--current 7
  .svz-pagination__page 8
  .svz-pagination__control.control--next
  .svz-pagination__page 16
// end pagination