// personal-tabs
link(rel='stylesheet', href='assets/css/components/personal-tabs.css')
  
.svz-personal-tabs.svz-row
  .svz-personal-tab.svz-col.svz-personal-tab--active
    | Профиль
  .svz-personal-tab.svz-col
    | История переписки
  .svz-personal-tab.svz-col
    | Задачи пользователя
  .svz-personal-tab.svz-col
    | Файлы пользователя
// end personal-tabs