// personal-info
link(rel='stylesheet', href='assets/css/components/personal-info.css')

.svz-personal-info.svz-row
  .svz-personal-info__side.svz-col
    .svz-personal-info__avatar
      img.svz-responsive-img(src='assets/img/personal-avatar.png')
    .svz-personal-info__message-btn.svz-btn
      | Написать сообщение
  .svz-personal-info__main.svz-col
    .svz-personal-info__name
      | Анастасия Абаева
    .svz-personal-info__title
      | Контактная информация      
      
    .svz-personal-info__info-group.svz-row
      .svz-personal-info__info-label.svz-col
        | E-Mail
      .svz-personal-info__info-value.svz-col
        a.svz-link(href='#') i.abramova@example.com
        
    .svz-personal-info__info-group.svz-row
      .svz-personal-info__info-label.svz-col
        | Мобильный
      .svz-personal-info__info-value.svz-col
        | 8 (495) 423 38 94
        
    .svz-personal-info__info-group.svz-row
      .svz-personal-info__info-label.svz-col
        | Рабочий телефон
      .svz-personal-info__info-value.svz-col
        | 8 (495) 423 38 94

    .svz-personal-info__info-group.svz-row
      .svz-personal-info__info-label.svz-col
        | Внутренний телефон
      .svz-personal-info__info-value.svz-col
        | 692
        
    .svz-personal-info__info-group.svz-row
      .svz-personal-info__info-label.svz-col
        | Общие данные
      .svz-personal-info__info-value.svz-col
        
    .svz-personal-info__info-group.svz-row
      .svz-personal-info__info-label.svz-col
        | День рождения
      .svz-personal-info__info-value.svz-col
        | 28 мая
        
    .svz-personal-info__info-group.svz-row
      .svz-personal-info__info-label.svz-col
        | Должность
      .svz-personal-info__info-value.svz-col
        | маркетолог
        
    .svz-personal-info__info-group.svz-row
      .svz-personal-info__info-label.svz-col
        | Отдел
      .svz-personal-info__info-value.svz-col
        | Петербургжский филиал, - Отдел маркетинга -, Отдел Public Relation
        
    .svz-personal-info__info-group.svz-row
      .svz-personal-info__info-label.svz-col
        | Подчиненные
      .svz-personal-info__info-value.svz-col
        | <a class="svz-link" href="#">Дарья Уварова</a> (исполнительный директор), 
        | <a class="svz-link" href="#">Виктория Твердохлебова</a> (коммерческий дерктор), 
        | <a class="svz-link" href="#">Данила Тихомирова</a> (технический директор)
        
    .svz-personal-info__info-group.svz-row
      .svz-personal-info__info-label.svz-col
        | Руководитель
      .svz-personal-info__info-value.svz-col
        | Дмитрий Дедков
// end personal-info