// personal-info
link(rel='stylesheet', href='assets/css/components/personal-info.css')

.svz-personal-info.svz-personal-info--mobile.svz-row
    .svz-col
        .svz-personal-info__avatar.svz-personal-info__avatar--mobile-personal.svz-personal-info__name
            img.svz-responsive-img(src='assets/img/personal-avatar.png')
            span.name__status.name__status--mobile
                span.status__icon.status__icon--online
                span.status__text.svz-p--small В сети
        .svz-personal-info__name.svz-personal-info__name--mobile
            span.svz-h2 Анастасия Абаева
            .name__sub.svz-p
                | Маркетолог
        .svz-personal-info__icons-set.svz-personal-info__icons-set--mobile
            .svz-personal-info__icon.icon--camera
            .svz-personal-info__icon.icon--phone
            .svz-personal-info__icon.icon--message
        .svz-personal-info__title.svz-p--big.svz-personal-info__title--mobile
            | Контактная информация

        .svz-personal-info__info-group.svz-p.svz-row
            .svz-personal-info__info-label.svz-personal-info__info-label--mobile.svz-col
                | E-Mail
            .svz-personal-info__info-value.svz-col
                a.svz-link(href='#') i.abramova@example.com

        .svz-personal-info__info-group.svz-p.svz-row
            .svz-personal-info__info-label.svz-personal-info__info-label--mobile.svz-col
                | Мобильный
            .svz-personal-info__info-value.svz-col
                | 8 (495) 423 38 94

        .svz-personal-info__info-group.svz-p.svz-row
            .svz-personal-info__info-label.svz-personal-info__info-label--mobile.svz-col
                | Рабочий телефон
            .svz-personal-info__info-value.svz-col
                | 8 (495) 423 38 94

        .svz-personal-info__info-group.svz-p.svz-row
            .svz-personal-info__info-label.svz-personal-info__info-label--mobile.svz-col
                | Внутренний телефон
            .svz-personal-info__info-value.svz-col
                | 692

        .svz-personal-info__info-group.svz-p.svz-row
            .svz-personal-info__info-label.svz-personal-info__info-label--mobile.svz-col
                | Общие данные
            .svz-personal-info__info-value.svz-col

        .svz-personal-info__info-group.svz-p.svz-row
            .svz-personal-info__info-label.svz-personal-info__info-label--mobile.svz-col
                | День рождения
            .svz-personal-info__info-value.svz-col
                | 28 мая

        .svz-personal-info__info-group.svz-p.svz-row
            .svz-personal-info__info-label.svz-personal-info__info-label--mobile.svz-col
                | Должность
            .svz-personal-info__info-value.svz-col
                | маркетолог

        .svz-personal-info__info-group.svz-p.svz-row
            .svz-personal-info__info-label.svz-personal-info__info-label--mobile.svz-col
                | Отдел
            .svz-personal-info__info-value.svz-col
                | Петербургжский филиал, - Отдел маркетинга -, Отдел Public Relation

        .svz-personal-info__info-group.svz-p.svz-row
            .svz-personal-info__info-label.svz-personal-info__info-label--mobile.svz-col
                | Подчиненные
            .svz-personal-info__info-value.svz-col
                | <a class="svz-link" href="#">Дарья Уварова</a> (исполнительный директор),
                | <a class="svz-link" href="#">Виктория Твердохлебова</a> (коммерческий дерктор),
                | <a class="svz-link" href="#">Данила Тихомирова</a> (технический директор)

        .svz-personal-info__info-group.svz-p.svz-row
            .svz-personal-info__info-label.svz-personal-info__info-label--mobile.svz-col
                | Руководитель
            .svz-personal-info__info-value.svz-col
                | Дмитрий Дедков
// end personal-info