// personal-tabs
link(rel='stylesheet', href='assets/css/components/tabs.css')
  
.svz-tabs.svz-row
  .svz-tab.svz-col.svz-tab--active
    | Профиль
  .svz-tab.svz-col
    | История переписки
  .svz-tab.svz-col
    | Задачи пользователя
  .svz-tab.svz-col
    | Файлы пользователя
// end personal-tabs