// search-list

link(rel='stylesheet', href='assets/css/components/search-list.css')
link(rel='stylesheet', href='assets/css/components/selectivity.css')
//link(rel='stylesheet', href='selectivity.css')

script(src='assets/js/selectivity-jquery.min.js')
script(src='assets/js/selectivity--call.js')

.svz-search-list
    .svz-search-list__header.svz-row
        .header__title.svz-col
            .svz-h2
                | Поиск
        .svz-row
            form.svz-search-list__search.svz-col
                .svz-col
                    select.svz-search-list__sort.js-selectivity
                        option
                            | По всем разделам
                        option
                            | По сотрудникам
                        option
                            | По медиа
                        option
                            | По файлам
                .svz-col.svz-search-list__input-wrap
                    label
                        input.svz-search-list__input(placeholder='', value='При')
                .svz-col
                    a.svz-search-list__cross(href='javascript:void(0);')
                .svz-col
                    label.svz-search-list__submit-wrap
                        input.svz-search-list__submit(type='submit')
    .svz-search-list-results
        .svz-search-list-results__text.svz-search-list-results__text--none
            | К сожалению, по вашему поисковому запросу ничего не найдено.

    .svz-search-list__header.svz-row
        .header__title.svz-col
            .svz-h2
                | Поиск
        .svz-row
            form.svz-search-list__search.svz-col
                .svz-col
                    select.svz-search-list__sort.js-selectivity
                        option
                            | По всем разделам
                        option
                            | По сотрудникам
                        option
                            | По медиа
                        option
                            | По файлам
                .svz-col.svz-search-list__input-wrap
                    label
                        input.svz-search-list__input(placeholder='', value='')
                .svz-col
                    a.svz-search-list__cross(href='javascript:void(0);')
                .svz-col
                    label.svz-search-list__submit-wrap
                        input.svz-search-list__submit(type='submit')
    .svz-search-list-results.svz-row
        .svz-row.svz-search-list-results__text.svz-search-list-results__text--smth
            | По вашему поисковому запросу найдено 129 ссылок
        .svz-row.svz-search-list__sort-more-wrap
            .svz-col
                .svz-search-list__sort-more.svz-tooltip(data-tooltip-content="#svz-search-list-filters")
                    | По дате
        .svz-row
            ol.svz-search-list-results-count
                li.svz-search-list-results-count__item
                    a.svz-row.svz-search-list-results-count__item-header(href='#')
                        h3.svz-col
                            | 8 тонких и легких смартфонов до 23 000 рублей!
                        span.svz-col.svz-search-list-results-count__item-type
                            | Благодарность
                        i.svz-col.svz-search-list-results-count__item-type-icon.icon--thanks
                    .svz-row.svz-search-list-results-count__item-description
                        .svz-col
                            | А вы знали, что продажи – это очень творческая работа? Убедиться в этом вы сможете, прочитав интервью с Никитой Боряком,
                            | менеджером по продажам из Санкт-Петербурга (ТЦ Радуга). Никита
                            b &nbsp;при&nbsp;
                            | помощи пения рассказывает клиентам о функционале
                            | «яблочных» гаджетов и помогает им определиться с покупкой.
                li.svz-search-list-results-count__item
                    a.svz-row.svz-search-list-results-count__item-header(href='#')
                        h3.svz-col
                            | Важное сообщение сотрудникам «Связной Логистика»
                        span.svz-col.svz-search-list-results-count__item-type
                            | Сообщение
                        i.svz-col.svz-search-list-results-count__item-type-icon.icon--message
                    .svz-row.svz-search-list-results-count__item-description
                        .svz-col
                            | В ходе реконструкции формат магазина был
                            b &nbsp;при
                            | нципиально изменен, чтобы соответствовать ожиданиям клиентов в новых
                            | экономических условиях. Для этого «Связной» разделил магазин на несколько специализированных зон. В условиях падения
                            | доходов для клиентов крайне важными стали специальные акции – поэтому в магазине была выделена специальная «акционная»
                            | зона, где представлены все специальные предложения и на товары, и на услуги, и на travel-сервисы.
                li.svz-search-list-results-count__item
                    a.svz-row.svz-search-list-results-count__item-header(href='#')
                        h3.svz-col
                            | Иваненко Сергей
                        span.svz-col.svz-search-list-results-count__item-type
                            | Комментарий
                        i.svz-col.svz-search-list-results-count__item-type-icon.icon--comment
                    .svz-row.svz-search-list-results-count__item-description
                        .svz-col
                            b При
                            | соединилась к компании «Связной» в 2016 году. С 1994 года работала в Промторгбанке, а после запуска Связного Банка,
                            | продолжила свое развитие в его команде с момента основания.
                li.svz-search-list-results-count__item
                    .svz-row
                        .svz-col.item-staff-main
                            .svz-row
                                .item-staff-main__pic-wrap
                                    img.item-staff-main__pic(src='assets/img/dummy-staff-1.png')
                                    i.item-staff-main__status.item-staff-main__status--online
                                .item-staff-main__info
                                    .item-staff-main__name
                                        | Панкрашен Станислав Панкрашен Станислав
                                    .item-staff-main__position
                                        | Начальник отдела
                        .svz-col.item-staff-contact-info
                            .item-staff-contact-info__wrap
                                span.item-staff-contact-info__title
                                    | E-Mail:&nbsp;
                                span.item-staff-contact-info__current
                                    a(href='mailto:i.abramova@example.com')
                                        | i.abramova@example.com
                            .item-staff-contact-info__wrap
                                span.item-staff-contact-info__title
                                    | Мобильный:&nbsp;
                                span.item-staff-contact-info__current
                                    | +7 (926) 423 38 88
                            .item-staff-contact-info__wrap
                                span.item-staff-contact-info__title
                                    | Внутренний телефон:&nbsp;
                                span.item-staff-contact-info__current
                                    | 401799
                        .svz-col.item-staff-department
                            .item-staff-contact-info__wrap
                                span.item-staff-contact-info__title
                                    | Отдел:&nbsp;
                                span.item-staff-contact-info__current
                                    a(href='#')
                                        | Отдел розничных проектов
                            .item-staff-contact-info__wrap
                                i.item-staff-contact-info__head-icon
                                span.item-staff-contact-info__head
                                    | Руководитель
                        .svz-col.item-staff-actions
                            i.item-staff-actions__icon.svz-tooltip(data-tooltip-content="#svz-actions-user-1")
                li.svz-search-list-results-count__item
                    .svz-row
                        .svz-col.item-staff-main
                            .svz-row
                                .item-staff-main__pic-wrap
                                    img.item-staff-main__pic(src='assets/img/dummy-staff-2.png')
                                    i.item-staff-main__status.item-staff-main__status--no-disturb
                                .item-staff-main__info
                                    .item-staff-main__name
                                        | Ларюхина Оксана Ларюхина Оксана
                                    .item-staff-main__position
                                        | Охранник
                        .svz-col.item-staff-contact-info
                            .item-staff-contact-info__wrap
                                span.item-staff-contact-info__title
                                    | E-Mail:&nbsp;
                                span.item-staff-contact-info__current
                                    a(href='mailto:i.abramova@example.com')
                                        | i.abramova@example.com
                            .item-staff-contact-info__wrap
                                span.item-staff-contact-info__title
                                    | Мобильный:&nbsp;
                                span.item-staff-contact-info__current
                                    | +7 (926) 423 38 88
                        .svz-col.item-staff-department
                            .item-staff-contact-info__wrap
                                span.item-staff-contact-info__title
                                    | Отдел:&nbsp;
                                span.item-staff-contact-info__current
                                    a(href='#')
                                        | Боровское ТЦ Наш
                        .svz-col.item-staff-actions
                            i.item-staff-actions__icon.svz-tooltip(data-tooltip-content="#svz-actions-user-2")
                li.svz-search-list-results-count__item
                    .svz-row
                        .svz-col.item-staff-main
                            .svz-row
                                .item-staff-main__pic-wrap
                                    img.item-staff-main__pic(src='assets/img/dummy-staff-3.png')
                                    i.item-staff-main__status.item-staff-main__status--away
                                .item-staff-main__info
                                    .item-staff-main__name
                                        | Адрова Светлана Адрова Светлана
                                    .item-staff-main__position
                                        | Менеджер проектов
                        .svz-col.item-staff-contact-info
                            .item-staff-contact-info__wrap
                                span.item-staff-contact-info__title
                                    | E-Mail:&nbsp;
                                span.item-staff-contact-info__current
                                    a(href='mailto:i.abramova@example.com')
                                        | i.abramova@example.com
                            .item-staff-contact-info__wrap
                                span.item-staff-contact-info__title
                                    | Мобильный:&nbsp;
                                span.item-staff-contact-info__current
                                    | +7 (926) 423 38 88
                        .svz-col.item-staff-department
                            .item-staff-contact-info__wrap
                                span.item-staff-contact-info__title
                                    | Отдел:&nbsp;
                                span.item-staff-contact-info__current
                                    a(href='#')
                                        | Спб Тосно Боярова
                        .svz-col.item-staff-actions
                            i.item-staff-actions__icon.svz-tooltip(data-tooltip-content="#svz-actions-user-3")
                li.svz-search-list-results-count__item
                    a.svz-row.svz-search-list-results-count__item-header(href='#')
                        h3.svz-col
                            | Степан Маришенков
                        span.svz-col.svz-search-list-results-count__item-type
                            | Комментарий
                        i.svz-col.svz-search-list-results-count__item-type-icon.icon--comment
                    .svz-row.svz-search-list-results-count__item-description
                        .svz-col
                            b При
                            | соединилась к компании «Связной» в 2016 году. С 1994 года работала в Промторгбанке, а после запуска Связного Банка,
                            | продолжила свое развитие в его команде с момента основания.
                li.svz-search-list-results-count__item
                    a.svz-row.svz-search-list-results-count__item-header(href='#')
                        h3.svz-col
                            | А может отметим НГ на Гавайаях?
                        span.svz-col.svz-search-list-results-count__item-type
                            | Идеи
                        i.svz-col.svz-search-list-results-count__item-type-icon.icon--idea
                    .svz-row.svz-search-list-results-count__item-description
                        .svz-col
                            b При
                            | соединилась к компании «Связной» в 2016 году. С 1994 года работала в Промторгбанке, а после запуска Связного Банка,
                            | продолжила свое развитие в его команде с момента основания.
                li.svz-search-list-results-count__item
                    a.svz-row.svz-search-list-results-count__item-header(href='#')
                        .svz-col
                            i.svz-file-icon.svz-file-icon--pdf
                        span.svz-col.svz-search-list-results-count__document-name
                            | Выплата ЗП (1).pdf
                        span.svz-col.svz-search-list-results-count__document-size
                            | 165,51 КБ
                    .svz-col.svz-search-list-results-count__document-actions
                        a.svz-search-list-results-count__document-action.action__link-to(href='#')
                        a.svz-search-list-results-count__document-action.action__download(href='#')
                li.svz-search-list-results-count__item
                    a.svz-row.svz-search-list-results-count__item-header(href='#')
                        .svz-col
                            i.svz-file-icon.svz-file-icon--video
                        span.svz-col.svz-search-list-results-count__document-name
                            | 4K VIDEO INCREDIBLE PATAGONIA - Epic 4K 60fps Ultra HD Drone Footage.mp4
                        span.svz-col.svz-search-list-results-count__document-size
                            | 360 МБ
                    .svz-col.svz-search-list-results-count__document-actions
                        a.svz-search-list-results-count__document-action.action__link-to(href='#')
                        a.svz-search-list-results-count__document-action.action__download(href='#')
                li.svz-search-list-results-count__item
                    a.svz-row.svz-search-list-results-count__item-header(href='#')
                        .svz-col
                            i.svz-file-icon.svz-file-icon--doc
                        span.svz-col.svz-search-list-results-count__document-name
                            | more-test.txt
                        span.svz-col.svz-search-list-results-count__document-size
                            | 3 МБ
                    .svz-col.svz-search-list-results-count__document-actions
                        a.svz-search-list-results-count__document-action.action__link-to(href='#')
                        a.svz-search-list-results-count__document-action.action__download(href='#')
                li.svz-search-list-results-count__item
                    a.svz-row.svz-search-list-results-count__item-header(href='#')
                        .svz-col
                            i.svz-file-icon.svz-file-icon--docx
                        span.svz-col.svz-search-list-results-count__document-name
                            | more-test.txt
                        span.svz-col.svz-search-list-results-count__document-size
                            | 3 МБ
                    .svz-col.svz-search-list-results-count__document-actions
                        a.svz-search-list-results-count__document-action.action__link-to(href='#')
                        a.svz-search-list-results-count__document-action.action__download(href='#')
                li.svz-search-list-results-count__item
                    a.svz-row.svz-search-list-results-count__item-header(href='#')
                        .svz-col
                            i.svz-file-icon.svz-file-icon--image
                        span.svz-col.svz-search-list-results-count__document-name
                            | more-test.gif
                        span.svz-col.svz-search-list-results-count__document-size
                            | 3 МБ
                    .svz-col.svz-search-list-results-count__document-actions
                        a.svz-search-list-results-count__document-action.action__link-to(href='#')
                        a.svz-search-list-results-count__document-action.action__download(href='#')
                li.svz-search-list-results-count__item
                    a.svz-row.svz-search-list-results-count__item-header(href='#')
                        .svz-col
                            i.svz-file-icon.svz-file-icon--jpeg
                        span.svz-col.svz-search-list-results-count__document-name
                            | more-test.jpg
                        span.svz-col.svz-search-list-results-count__document-size
                            | 3 МБ
                    .svz-col.svz-search-list-results-count__document-actions
                        a.svz-search-list-results-count__document-action.action__link-to(href='#')
                        a.svz-search-list-results-count__document-action.action__download(href='#')
                li.svz-search-list-results-count__item
                    a.svz-row.svz-search-list-results-count__item-header(href='#')
                        .svz-col
                            i.svz-file-icon.svz-file-icon--php
                        span.svz-col.svz-search-list-results-count__document-name
                            | more-test.php
                        span.svz-col.svz-search-list-results-count__document-size
                            | 3 МБ
                    .svz-col.svz-search-list-results-count__document-actions
                        a.svz-search-list-results-count__document-action.action__link-to(href='#')
                        a.svz-search-list-results-count__document-action.action__download(href='#')
                li.svz-search-list-results-count__item
                    a.svz-row.svz-search-list-results-count__item-header(href='#')
                        .svz-col
                            i.svz-file-icon.svz-file-icon--png
                        span.svz-col.svz-search-list-results-count__document-name
                            | more-test.png
                        span.svz-col.svz-search-list-results-count__document-size
                            | 3 МБ
                    .svz-col.svz-search-list-results-count__document-actions
                        a.svz-search-list-results-count__document-action.action__link-to(href='#')
                        a.svz-search-list-results-count__document-action.action__download(href='#')
                li.svz-search-list-results-count__item
                    a.svz-row.svz-search-list-results-count__item-header(href='#')
                        .svz-col
                            i.svz-file-icon.svz-file-icon--ppt
                        span.svz-col.svz-search-list-results-count__document-name
                            | more-test.ppt
                        span.svz-col.svz-search-list-results-count__document-size
                            | 3 МБ
                    .svz-col.svz-search-list-results-count__document-actions
                        a.svz-search-list-results-count__document-action.action__link-to(href='#')
                        a.svz-search-list-results-count__document-action.action__download(href='#')
                li.svz-search-list-results-count__item
                    a.svz-row.svz-search-list-results-count__item-header(href='#')
                        .svz-col
                            i.svz-file-icon.svz-file-icon--txt
                        span.svz-col.svz-search-list-results-count__document-name
                            | more-test.txt
                        span.svz-col.svz-search-list-results-count__document-size
                            | 3 МБ
                    .svz-col.svz-search-list-results-count__document-actions
                        a.svz-search-list-results-count__document-action.action__link-to(href='#')
                        a.svz-search-list-results-count__document-action.action__download(href='#')
                li.svz-search-list-results-count__item
                    a.svz-row.svz-search-list-results-count__item-header(href='#')
                        .svz-col
                            i.svz-file-icon.svz-file-icon--xls
                        span.svz-col.svz-search-list-results-count__document-name
                            | more-test.xls
                        span.svz-col.svz-search-list-results-count__document-size
                            | 3 МБ
                    .svz-col.svz-search-list-results-count__document-actions
                        a.svz-search-list-results-count__document-action.action__link-to(href='#')
                        a.svz-search-list-results-count__document-action.action__download(href='#')
            .svz-search-list__footer.svz-row
                .svz-pull-left
                    .svz-search-list__show-more-btn.svz-btn
                        | показать еще 10
                .svz-pull-right
                    include pagination

.svz-tooltip_templates
    #svz-search-list-filters
        .svz-search-list__tooltip
            .svz-search-list__tooltip-sort-more
                a(href="#")
                    | По релевантности
                a(href="#")
                    | По дате

.svz-tooltip_templates
    #svz-actions-user-1
        .svz-search-list__tooltip
            .svz-search-list__tooltip-sort-more
                a(href="#")
                    | Написать сообщение
                a(href="#")
                    | Позвонить
                a(href="#")
                    | Видеозвонок
                a(href="#")
                    | Создать задачу
.svz-tooltip_templates
    #svz-actions-user-2
        .svz-search-list__tooltip
            .svz-search-list__tooltip-sort-more
                a(href="#")
                    | Написать сообщение
                a(href="#")
                    | Позвонить
                a(href="#")
                    | Видеозвонок
                a(href="#")
                    | Создать задачу
.svz-tooltip_templates
    #svz-actions-user-3
        .svz-search-list__tooltip
            .svz-search-list__tooltip-sort-more
                a(href="#")
                    | Написать сообщение
                a(href="#")
                    | Позвонить
                a(href="#")
                    | Видеозвонок
                a(href="#")
                    | Создать задачу