// sitemap
link(rel='stylesheet', href='assets/css/components/sitemap.css')
  
.svz-sitemap
  .svz-sitemap-row.svz-row
    .svz-sitemap-col.svz-col
      ul.map-level-0
        li
          a(href='/stream/') Живая лента
        li
          a(href='/about/company/') Компания
          ul.map-level-1
            li
              a(href='/about/company/index.php') Компания сегодня
            li
              a(href='/about/company/tops.php') Руководство
            li
              a(href='/about/company/history.php') История компании
        li
          a(href='/about/life/') Новости
        li
          a(href='/company/') Сотрудники
          ul.map-level-1
            li
              a(href='/company/index.php') Поиск сотрудника
            li
              a(href='/company/telephones.php') Телефонный справочник
            li
              a(href='/company/vis_structure.php') Структура компании
            li
              a(href='/company/events.php') Кадровые изменения
            li
              a(href='/company/absence.php') График отсутствий
            li
              a(href='/company/timeman.php') Рабочее время
            li
              a(href='/company/work_report.php') Рабочие отчеты
            li
              a(href='/company/report.php') Эффективность
            li
              a(href='/company/leaders.php') Доска почета
            li
              a(href='/company/birthdays.php') Дни рождения
            li
              a(href='/company/personal/processes/') Мои процессы
    .svz-sitemap-col.svz-col
      ul.map-level-0
        li
          a(href='/docs/') Диски
          ul.map-level-1
            li
              a(href='/docs/index.php') Все документы
            li
              a(href='/docs/shared/') Общий диск
        li
          a(href='/services/') Сервисы
          ul.map-level-1
            li
              a(href='/services/index.php') Переговорные
            li
              a(href='/services/idea/') Есть Идея?
            li
              a(href='/services/lists/') Списки
            li
              a(href='/services/bp/') Бизнес-процессы
              ul.map-level-2
                li
                  a(href='/services/bp/25/') Оформление командировки
                li
                  a(href='/services/bp/26/') Оформление отпуска
            li
              a(href='/services/requests/') Электронные заявки
              ul.map-level-2
                li
                  a(href='/services/requests/index.php') Отправить заявку
                li
                  a(href='/services/requests/my.php') Мои заявки
            li
              a(href='/services/learning/') Обучение
              ul.map-level-2
                li
                  a(href='/services/learning/index.php') Каталог курсов
                li
                  a(href='/services/learning/mycourses.php') Мои курсы
                li
                  a(href='/services/learning/gradebook.php') Журнал обучения
                li
                  a(href='/services/learning/profile.php') Анкета специалиста
            li
              a(href='/services/wiki/') База знаний (wiki)
            li
              a(href='/services/faq/') Вопросы и ответы
            li
              a(href='/services/votes.php') Опросы
            li
              a(href='/services/support.php?show_wizard=Y') Техническая поддержка
            li
              a(href='/services/links.php') Каталог ссылок
            li
              a(href='/services/subscr_edit.php') Подписка
            li
              a(href='/services/event_list.php') Журнал изменений
            li
              a(href='/services/salary/') Зарплата и отпуск
            li
              a(href='/services/board/') Доска объявлений
    .svz-sitemap-col.svz-col
      ul.map-level-0
        li
          a(href='/workgroups/') Группы
          ul.map-level-1
            li
              a(href='/workgroups/group/search/?filter_my=Y') Мои группы
            li
              a(href='/workgroups/group/search/') Все группы
            li
              a(href='/workgroups/group/search/?filter_favorites=Y') Избранное
            li
              a(href='/workgroups/group/search/?filter_archive=Y') Архивные
            li
              a(href='/workgroups/group/search/?filter_tags=Y') По тегам
        li
          a(href='/marketplace/') Приложения
          ul.map-level-1
            li
              a(href='/marketplace/hook/') Вебхуки
        li
          a(href='/support/') Техподдержка
        li
          a(href='/add/') Обратная связь
          ul.map-level-1
            li
              a(href='/add/idea/') Идеи
            li
              a(href='/add/thanks/') Благодарности
            li
              a(href='/add/complaint/') Жалобы
            li
              a(href='/add/complaint_last/') Жалобы в последнии инстанции
        li
          a(href='/reports/') Отчеты
        li
          a(href='/company/personal/bizproc/') Задания

// end sitemap