// tags-cloud
.svz-tags-cloud
    .svz-tag.svz-tag--xs
        | Телефонный справочник
    .svz-tag.svz-tag--xs
        | Доска объявлений
    .svz-tag.svz-tag--sm
        | Вакансии
    .svz-tag.svz-tag--sm
        | Руководство
    .svz-tag.svz-tag--md
        | Новости
    .svz-tag.svz-tag--md
        | Доска почета
    .svz-tag.svz-tag--xl
        | Мотивации
    .svz-tag.svz-tag--md
        | Зарплата и отпуск
    .svz-tag.svz-tag--md
        | О компании
    .svz-tag.svz-tag--xs
        | Обратная связь
    .svz-tag.svz-tag--xs
        | Миссия и ценности
// end tags-cloud