// feedback__ideas--mobile
link(rel='stylesheet', href='assets/css/components/feedback/feedback.css')

.svz-feedback__list.svz-feedback__list--mobile.svz-feedback__ideas-list.svz-feedback__ideas-list--mobile
  .svz-list__header.svz-row
    .header__search
      .svz-search-field
        label
          input(type='text', placeholder='Поиск по названию')
    .header__title.svz-pull-left
      .svz-h2
        | Все идеи
    .header__switch-btn.svz-pull-right
      .svz-switch-icon.svz-tooltip(data-tooltip-content="#svz-ideas-filters")
    .header__add-btn.svz-pull-right
      .svz-magic-stick-icon
    .svz-ideas-list__sort-by
      .svz-dropdown-btn
        | По количеству комментариев

  .svz-ideas-list__body.svz-row
    .svz-ideas-list__main.svz-col

        
.svz-tooltip_templates
  #svz-ideas-filters
    .svz-feedback__tooltip
      .tooltip__indent.svz-p Дата создания
      .tooltip__indent
        .svz-field.svz-field--datepicker
          label
            input(type='datepicker', placeholder='С даты')
      .tooltip__indent
        .svz-field.svz-field--datepicker
          label
            input(type='datepicker', placeholder='По дату')
      .tooltip__indent.tooltip__separator
      .tooltip__indent.svz-p Статус жалобы
      .tooltip__indent
        .svz-feedback-status.svz-feedback-status--inprogress
          i.svz-icon
          span В работе
        .svz-feedback-status.svz-feedback-status--done
          i.svz-icon
          span Выполнено
        .svz-feedback-status.svz-feedback-status--rejected
          i.svz-icon
          span Не выполнена
// end feedback__ideas--mobile