// feedback__petition-list--mobile
link(rel='stylesheet', href='assets/css/components/feedback/feedback.css')
  
.svz-feedback__list.svz-feedback__list--mobile.svz-feedback__petition-list.svz-feedback__petition-list--mobile
  .svz-list__header.svz-row
    .header__search
      .svz-search-field
        label
          input(type='text', placeholder='Поиск по названию')
    .header__title.svz-pull-left
      .svz-h2 
        | Жалобы <span class="svz-p--small svz-gray-font svz-p--super">9</span>
    .header__add-btn.svz-pull-right
      .svz-magic-stick-icon
        
  .svz-list__list
    .list__row.svz-row
      .list__title.svz-col
        .svz-p ID
      .list__content.svz-col
        .svz-p.svz-gray-font 29780000_458
    .list__row.svz-row
      .list__title.svz-col
        .svz-p Тема
      .list__content.svz-col
        .svz-p Приказ №334-упв от 14.06.2016. Положения о порядке выдачи, учета, хранения и отзыва доверенностей в АО «Связной Логистика»
    .list__row.svz-row
      .list__title.svz-col
        .svz-p Статус
      .list__content.svz-col
        .svz-feedback-status.svz-feedback-status--done
          .svz-icon
          span Выполнено
    .list__row.svz-row
      .list__title.svz-col
        .svz-p Тип
      .list__content.svz-col
        .svz-p.svz-gray-font Неработающее оборудование
    .list__row.svz-row
      .list__title.svz-col
        .svz-p Создание
      .list__content.svz-col
        .svz-p.svz-gray-font 28 апреля 2017 г.
          
  .svz-list__list
    .list__row.svz-row
      .list__title.svz-col
        .svz-p ID
      .list__content.svz-col
        .svz-p.svz-gray-font 29780000_458
    .list__row.svz-row
      .list__title.svz-col
        .svz-p Тема
      .list__content.svz-col
        .svz-p Приказ №334-упв от 14.06.2016. Положения о порядке выдачи, учета, хранения и отзыва доверенностей в АО «Связной Логистика»
    .list__row.svz-row
      .list__title.svz-col
        .svz-p Статус
      .list__content.svz-col
        .svz-feedback-status.svz-feedback-status--waiting
          .svz-icon
          span Обрабатывается администратором
    .list__row.svz-row
      .list__title.svz-col
        .svz-p Тип
      .list__content.svz-col
        .svz-p.svz-gray-font Неработающее оборудование
    .list__row.svz-row
      .list__title.svz-col
        .svz-p Создание
      .list__content.svz-col
        .svz-p.svz-gray-font 28 апреля 2017 г.
          
  .svz-list__list
    .list__row.svz-row
      .list__title.svz-col
        .svz-p ID
      .list__content.svz-col
        .svz-p.svz-gray-font 29780000_458
    .list__row.svz-row
      .list__title.svz-col
        .svz-p Тема
      .list__content.svz-col
        .svz-p Приказ №334-упв от 14.06.2016. Положения о порядке выдачи, учета, хранения и отзыва доверенностей в АО «Связной Логистика»
    .list__row.svz-row
      .list__title.svz-col
        .svz-p Статус
      .list__content.svz-col
        .svz-feedback-status.svz-feedback-status--inprogress
          .svz-icon
          span В работе
    .list__row.svz-row
      .list__title.svz-col
        .svz-p Тип
      .list__content.svz-col
        .svz-p.svz-gray-font Неработающее оборудование
    .list__row.svz-row
      .list__title.svz-col
        .svz-p Создание
      .list__content.svz-col
        .svz-p.svz-gray-font 28 апреля 2017 г.
          
  .svz-list__list
    .list__row.svz-row
      .list__title.svz-col
        .svz-p ID
      .list__content.svz-col
        .svz-p.svz-gray-font 29780000_458
    .list__row.svz-row
      .list__title.svz-col
        .svz-p Тема
      .list__content.svz-col
        .svz-p Приказ №334-упв от 14.06.2016. Положения о порядке выдачи, учета, хранения и отзыва доверенностей в АО «Связной Логистика»
    .list__row.svz-row
      .list__title.svz-col
        .svz-p Статус
      .list__content.svz-col
        .svz-feedback-status.svz-feedback-status--rejected
          .svz-icon
          span Отклонена
    .list__row.svz-row
      .list__title.svz-col
        .svz-p Тип
      .list__content.svz-col
        .svz-p.svz-gray-font Неработающее оборудование
    .list__row.svz-row
      .list__title.svz-col
        .svz-p Создание
      .list__content.svz-col
        .svz-p.svz-gray-font 28 апреля 2017 г.
// end feedback__petition-list--mobile