// feedback__thanks-list--mobile
link(rel='stylesheet', href='assets/css/components/feedback/feedback.css')
  
.svz-feedback__list.svz-feedback__list--mobile.svz-feedback__thanks-list.svz-feedback__thanks-list--mobile
  .svz-list__header
    .svz-row
      .header__switch.svz-col
        .svz-switch-icon.svz-tooltip(data-tooltip-content="#svz-thanks-filters")
      .header__search.svz-col
        .svz-search-field
          label
            input(type='text', placeholder='Поиск по названию')
      .header__add-btn.svz-col
        .svz-magic-stick-icon
    .header__title
      .svz-h2 
        | Благодарности <span class="svz-p--small svz-gray-font svz-p--super">23 759</span>
        
  .svz-list__list
    .list__row.svz-row
      .list__title.svz-col
        .svz-p Создание
      .list__content.svz-col
        .svz-p.svz-gray-font 28 апреля 2017 г.
    .list__row.svz-row
      .list__title.svz-col
        .svz-p Тема
      .list__content.svz-col
        .svz-p Приказ №334-упв от 14.06.2016. Положения о порядке выдачи, учета, хранения и отзыва доверенностей в АО «Связной Логистика»
    .list__row.list__row--type.svz-row
      .list__title.svz-col
        .svz-p Тип
      .list__content.svz-col
        .type-icon.svz-feedback-type-icon
    .list__row.list__row--from-to.svz-row
      .list__title.svz-col
        .svz-p От кого
        .svz-p <span class="svz-icon svz-icon--arrow-right"></span> Кому
      .list__content.svz-col
        .svz-thanks-list__from-to.svz-row
          .from-to__names.svz-col
            .from-to__author.svz-col
              | Барышникова Ольга
            .from-to__recipient.svz-col
              .svz-icon.svz-icon--arrow-right
              span Павличук Роман Викторович
            .from-to__recipient.svz-col
              .svz-icon.svz-icon--arrow-right
              span Мироненко Сергей
              
  .svz-list__list
    .list__row.svz-row
      .list__title.svz-col
        .svz-p Создание
      .list__content.svz-col
        .svz-p.svz-gray-font 28 апреля 2017 г.
    .list__row.svz-row
      .list__title.svz-col
        .svz-p Тема
      .list__content.svz-col
        .svz-p Приказ №334-упв от 14.06.2016. Положения о порядке выдачи, учета, хранения и отзыва доверенностей в АО «Связной Логистика»
    .list__row.list__row--type.svz-row
      .list__title.svz-col
        .svz-p Тип
      .list__content.svz-col
        .type-icon.svz-feedback-type-icon
    .list__row.list__row--from-to.svz-row
      .list__title.svz-col
        .svz-p От кого
        .svz-p <span class="svz-icon svz-icon--arrow-right"></span> Кому
      .list__content.svz-col
        .svz-thanks-list__from-to.svz-row
          .from-to__names.svz-col
            .from-to__author.svz-col
              | Барышникова Ольга
            .from-to__recipient.svz-col
              .svz-icon.svz-icon--arrow-right
              span Павличук Роман Викторович
            .from-to__recipient.svz-col
              .svz-icon.svz-icon--arrow-right
              span Мироненко Сергей
// end feedback__thanks-list--mobile