// comments
link(rel='stylesheet', href='assets/css/components/feedback/comments.css')
  
.svz-comments
  .svz-comments__title 
    span.svz-h3 Комментариев
    span.title_comments-count.svz-h3 3
  .svz-comments__list
    .svz-comment.svz-row
      .comment__avatar.svz-col
        .svz-avatar
          img(src='assets/img/avatar.png')
      .comment__body.svz-col
        .comment__author.svz-p
          | Барышникова Ольга
        .comment__content
          .svz-indent
            .svz-p
              | Акция не действует на два одинаковых товара. Например, купить два совершенно идентичных чехла ты не сможешь, 
              | но сможешь купить два одинаковых, но разных цветов.
        .comment__footer.svz-row
          .comment__created.svz-p--small.svz-pull-right
            span.created__date 28 апр. 2017 г.
            span.created__time 20:11
    .svz-comment.svz-comment--system
      .svz-p
        | Статус жалобы обновлен: 
      .svz-feedback-status.svz-feedback-status--rejected
        .svz-icon
        span Отклонена
      .comment__created.svz-p--small.svz-pull-right
        span.created__date 28 апр. 2017 г.
        span.created__time 20:11            
    .svz-comment.svz-comment--system
      .svz-p
        | Статус жалобы обновлен: 
      .svz-feedback-status.svz-feedback-status--done
        .svz-icon
        span Выполнено
      .comment__created.svz-p--small.svz-pull-right
        span.created__date 28 апр. 2017 г.
        span.created__time 20:11
    .svz-comment.svz-comment--system
      .svz-p
        | Статус жалобы обновлен: 
      .svz-feedback-status.svz-feedback-status--inprogress
        .svz-icon
        span В работе
      .comment__created.svz-p--small.svz-pull-right
        span.created__date 28 апр. 2017 г.
        span.created__time 20:11
    .svz-comment.svz-comment--system
      .svz-p
        | Статус жалобы обновлен: 
      .svz-feedback-status.svz-feedback-status--waiting
        .svz-icon
        span Обрабатывается администратором
      .comment__created.svz-p--small.svz-pull-right
        span.created__date 28 апр. 2017 г.
        span.created__time 20:11
        
// end comments