// feedback__index-page--mobile
link(rel='stylesheet', href='assets/css/components/feedback/feedback.css')

.svz-feedback__index-page.svz-feedback__index-page--mobile
  .svz-index-page__title
    .svz-h2 Обратная связь
  .svz-index-page__list
    .svz-index-page__section.svz-index-page__section--chief
      a.section__link Написать Евгению
    .svz-index-page__section.svz-index-page__section--thanks
      a.section__link Благодарности
    .svz-index-page__section.svz-index-page__section--ideas
      a.section__link Идеи
    .svz-index-page__section.svz-index-page__section--petitions
      a.section__link Жалобы
    .svz-index-page__section.svz-index-page__section--pi
      a.section__link Отдел ПИ

// end feedback__index-page--mobile