/*
 * feedback__petition-list
 */
@import "../../variables.styl"
@import "../../mixins.styl"

url = embedurl

.svz-feedback__petition-list
  .svz-petition-list__id-col
    width 15%
  .svz-petition-list__name-col
    width 27%
  .svz-petition-list__status-col
    width 21%
  .svz-petition-list__type-col
    width 22%
  .svz-petition-list__created-col
    width 15%
    text-align right
  
  .svz-list__list
    .svz-petition-list__id-col
      color gray-font-color
    .svz-petition-list__name-col
      width 27%
    .svz-petition-list__status-col
      width 21%
  
    .svz-petition-list__type-col
      color gray-font-color
    .svz-petition-list__created-col
      color gray-font-color
  
.svz-feedback__petition-list--mobile
  .svz-list__header
    .header__search
      width 100%
      margin-bottom 25px
    .header__title 
      width auto
    .header__add-btn
      width auto
/*
 * feedback__petition-list
 */