extends components/fake-page

block page-content
  
  include components/feedback/feedback-tabs
    
  .svz-back-btn
    | Все жалобы

  include components/feedback/feedback__view
    
  .svz-back-btn
    | Все жалобы