extends components/fake-page

block page-content
  include components/personal-tabs
    
  .svz-back-btn
    | Все сотрудники
      
  include components/personal-info

  include components/personal-info--online

  include components/personal-info--offline