extends components/fake-page

block page-content
  include components/personal-tabs
    
  include components/back-btn
    block text
      | Все сотрудники
      
  include components/personal-info

  include components/personal-info--online

  include components/personal-info--offline